/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --header-height: 3rem;

    /*===== Font and typography =====*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2.5rem;
    --form-big-font-size: 2rem;
    --normal-font-size: .938rem;
    --form-normal-font-size: 0.938rem;
    --form-smaller-font-size: 0.875rem;
    /*===== Colors =====*/
    --first-color: #413c69;
    --first-color-dark: #4A47A3;
    --first-color-darken: #709FB0;
    --white-color: #FCF8F8;
    --form-color: #12192C;
    --text-color: #8590AD;
    /*===== z index =====*/
    --z-fixed: 100; 
}

@media screen and (min-width: 768px){
    :root{
      --big-font-size: 5rem;
      --normal-font-size: 1rem;
    }
  }
  
  /*===== BASE =====*/
  *,::before,::after{
    box-sizing: border-box;
  }
  .login{
    background-color: var(--first-color);
  }
  body{
    margin: var(--header-height) 0 0 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 500;
  }
  
  h1,p,ul{
    margin: 0;
  }
  
  ul{
    padding: 0;
    list-style: none;
  }
  
  a{
    text-decoration: none;
  }
  
  img{
    max-width: 100%;
    height: auto;
  }
  
  /*===== LAYOUT =====*/
  .bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
  }
  
  /*===== NAV =====*/
  .nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @media screen and (max-width: 768px){
    .nav__menu{
      position: fixed;
      top: 0;
      right: -100%;
      width: 70%;
      height: 100%;
      padding: 3.5rem 1.5rem 0;
      background: rgba(255,255,255,.3);
      backdrop-filter: blur(10px);
      transition: .5s;
    }
  }
  
  .nav__close{
    position: absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .nav__item{
    margin-bottom: 2rem;
  }
  
  .nav__close, .nav__link, .nav__logo, .nav__toggle{
    color: var(--white-color);
  }
  
  .nav__link:hover{
    color: var(--first-color-darken);
  }
  
  .nav__toggle{
    font-size: 1.5rem;
    cursor: pointer;
  }
  .nav__logo{
      font-weight: bold;
  }
  
  /*=== Show menu ===*/
  .show{
    right: 0;
  }
  
  /*===== HOME =====*/
  .home{
    background-color: var(--first-color);
    overflow: hidden;
  }
  
  .home__container{
    height: calc(100vh - var(--header-height));
    grid-template-rows: repeat(2, max-content);
    row-gap: 1.5rem;
  }
  
  .home__img{
    position: relative;
    padding-top: 1.5rem;
    justify-self: center;
    width: 302px;
    height: 233px;
  }
  
  .home__img img{
    position: absolute;
    top: 0;
    left: 0;
    
  }
  
  .home__data{
    color: var(--white-color);
  }
  
  .home__title{
    font-size: var(--big-font-size);
    line-height: 1.3;
    margin-bottom: 1rem;
  }
  
  .home__description{
    margin-bottom: 2.5rem;
  }
  
  .home__button{
    display: inline-block;
    background-color: var(--first-color-dark);
    color: var(--white-color);
    padding: 1.125rem 2rem;
    border-radius: .5rem;
  }
  
  .home__button:hover{
    background-color: var(--first-color-darken);
  }
  
  /* ===== MEDIA QUERIES =====*/
  @media screen and (min-width: 768px){
    body{
      margin: 0;
    }
    
    .nav{
      height: calc(var(--header-height) + 1.5rem);
    }
  
    .nav__toggle, .nav__close{
      display: none;
    }
  
    .nav__list{
      display: flex;
    }
  
    .nav__item{
      margin-left: 3rem;
      margin-bottom: 0;
    }
  
    .home__container{
      height: 100vh;
      grid-template-columns: repeat(2, max-content);
      grid-template-rows:  1fr;
      row-gap: 0;
      align-items: center;
      justify-content: center;
    }
    
    .home__img{
      order: 1;
      width: 375px;
      height: 289px;
    }
  
    .home__img img{
      width: 375px;
    }
  }
  
  @media screen and (min-width: 1024px){
    .bd-grid{
      margin-left: auto;
      margin-right: auto;
    }
  
    .home__container{
      justify-content: initial;
      column-gap: 4.5rem;
    }
  
    .home__img{
      width: 604px;
      height: 466px;
    }
  
    .home__img img{
      width: 604px;
    }
  }

  .card{
    height: 400px;
    width: 320px;
    background-color: rgba(255,255,255,0.06);
    backdrop-filter: blur(20px);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    box-shadow: 20px 20px 22px rgba(0,0,0,0.2);
    font-family: 'Poppins',sans-serif;
}
.card-img{
    height: 120px;
    width: 120px;
    background-color: rgba(255,255,255,0.06);
    backdrop-filter: blur(20px);
    position: absolute;
    margin: 30px auto 0px auto;
    left: 0;
    right: 0;
    border-radius: 50%;
}
.card-img img{
    height: 86%;
    width: 86%;
    border-radius: 50%;
    margin-left: 7%;
    margin-top: 7%;
}
.form{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 200px;
    padding: 5px;
}
.primary-text{
    color: #d5d5d5;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin: 5px 0;
}
.secondary-text{
    color: #c0c0c0;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 5px 0;
}
.details{
    display: grid;
    width: 100%;
    height: 70px;
    grid-template-columns: auto auto;
    position: absolute;
    bottom: 0;
    background-color: rgba(255,255,255,0.06);
    backdrop-filter: blur(20px);
    border-radius: 0 0 8px 8px;
}
.details>div{
    text-align: center;
}
.details>div:first-child{
    border-right: 2px solid rgba(255,255,255,0.08);
}
button{
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: #d5d5d5;
  font-family: var(--body-font);
  border-radius: 0 0 8px 8px;
}
button:hover{
  background-color: #7c71c4;
}

a{
  text-decoration: none;
  color: #d5d5d5;
}
.form__title{
  font-size: var(--form-big-font-size);
  font-weight: 500;
  text-align: center;
  color: #d5d5d5;
}

